{% extends 'base.html' %}
{% block content %}
<a href = "/hub/{{apc}}"> <button class="btn btn-primary">To {{APC}} hub</button></a>
<h2>{{apc}} Posts</h2>
<div class="list-group list-group-flush">
{% for x in end %}
{% if x.active %}
    <a href = '/post/{{x.id}}/' class="list-group-item list-group-item-action list-group-item-info"> <strong>{{x.header}}</strong> <small>{{x.time}}</small> <small>{{x.poster.username}}</small></a> 
 {%else%}
 <a href = '/post/{{x.id}}/' class="list-group-item list-group-item-action list-group-item-danger"> <strong>{{x.header}}</strong> <small>{{x.time}}</small> <small>{{x.poster.username}}</small></a> 
 {% endif %}
{% endfor %}
</ul> 
{% csrf_token %}

{% endblock %} 
