 {% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
<h1 class = "text-center">Welcome To The Classified section</h1>
<a href = '/createnewpost' class="btn btn-primary btn-block">Create a new post</a>
<br>

<div class = 'card'>
    <div class = "text-center">
        <p>View posts by the Airport code (i.e. PDX, LAX, MSP)</p>
        <div class = 'text-center'>
            <form class="form-inline" method = 'post' >
                {% csrf_token %}
                {% for field in form %}
                
                <div class="form-group" style = 'margin: 0 auto;'>
                    {% load widget_tweaks %}
                    
                    {% render_field field class="form-control mr-sm-2" type="search" placeholder="Search"%}
                    
                    
                    
                    
                    {% endfor %}
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
       
</div>
        </div>
    <br>

    </div>
<br>
<a href = '/myposts' class="btn btn-warning btn-block">View your posts</a>

</div>
    </div>
{% endblock %}
